body {
  background-color: #fbe4c5;
}
main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.body-header {
  padding-top: 25px;
  color: #001b3d;
  font-weight: bold;
  font-size: 25px;
}
